body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#header{
    margin-top: 5px;
}

#canvaswrapper {
    display: flex; 
	justify-content: center;
}

#content {
    text-align: left;
    display: flex; 
	justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    min-width: 750px;
}