.sidepanel {
    background-color: rgb(82, 82, 82);
    padding: 10px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
}

.myform {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-item {
    margin: 10px;
}

label {
    margin-right: 5px;
}

hr {
    width: 90%;
    margin-top: 20px;
}