<?xml version="1.0"?>
<model>
  <name>Rover</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Gavri Kepets</name>
   <email>gabriel.kepets@cooper.edu</email>
  </author>

  <description>
    Simple four wheel rover for testing our algorithm.
  </description>
</model>
