.canvas {
    border-style: solid;
    border-width: 1px;
    /* min-width: 500px;
    min-height: 500px; */
    width: 75vw;
    height: 75vw;
    max-width: 750px;
    max-height: 750px;
    border-radius: 3px;
}

.sliders{
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
}

.sliderItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderItem label {
    margin-right: 10px;
}

.note {
    text-align: center;
    font-style: italic;
    color: dimgrey;
}

button {
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 0.85em;
    font-weight: 500;
    font-family: inherit;
    background-color: #5d5d5d;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    /* width: 50%; */
  }
button:hover:enabled {
border-color: #646cff;
}
button:focus,
button:focus-visible {
outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
    cursor: not-allowed;
    background-color: darkgray;
}

.displayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    text-align: center;
}